
GO
/****** Object:  Table [dbo].[zixunxinxi]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zixunxinxi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[biaoti] [nvarchar](255) NOT NULL,
	[fenlei] [int] NOT NULL,
	[tupian] [nvarchar](255) NOT NULL,
	[tianjiaren] [nvarchar](64) NOT NULL,
	[dianjilv] [int] NOT NULL,
	[neirong] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [zixunxinxi_fenlei_index] ON [dbo].[zixunxinxi] 
(
	[fenlei] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[zixunxinxi] ON
SET IDENTITY_INSERT [dbo].[zixunxinxi] OFF
/****** Object:  Table [dbo].[zixunfenlei]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zixunfenlei](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fenleimingcheng] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[zixunfenlei] ON
INSERT [dbo].[zixunfenlei] ([id], [fenleimingcheng]) VALUES (1, N'个性化饮食建议')
INSERT [dbo].[zixunfenlei] ([id], [fenleimingcheng]) VALUES (2, N'热量科普')
INSERT [dbo].[zixunfenlei] ([id], [fenleimingcheng]) VALUES (3, N'个性化运动建议')
SET IDENTITY_INSERT [dbo].[zixunfenlei] OFF
/****** Object:  Table [dbo].[youqinglianjie]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[youqinglianjie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wangzhanmingcheng] [nvarchar](50) NOT NULL,
	[wangzhi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[youqinglianjie] ON
INSERT [dbo].[youqinglianjie] ([id], [wangzhanmingcheng], [wangzhi]) VALUES (1, N'京东', N'http://www.jd.com')
SET IDENTITY_INSERT [dbo].[youqinglianjie] OFF
/****** Object:  Table [dbo].[yonghu]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yonghu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yonghuming] [nvarchar](50) NOT NULL,
	[mima] [nvarchar](50) NOT NULL,
	[xingming] [nvarchar](50) NOT NULL,
	[xingbie] [nvarchar](10) NOT NULL,
	[shouji] [nvarchar](50) NOT NULL,
	[youxiang] [nvarchar](50) NOT NULL,
	[shenfenzheng] [nvarchar](255) NOT NULL,
	[touxiang] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[yonghu] ON
INSERT [dbo].[yonghu] ([id], [yonghuming], [mima], [xingming], [xingbie], [shouji], [youxiang], [shenfenzheng], [touxiang]) VALUES (1, N'001', N'001', N'史密斯', N'男', N'13500134000', N'ww@ww.com', N'440303199102283071', N'upload/202405/171453827602114466.png')
INSERT [dbo].[yonghu] ([id], [yonghuming], [mima], [xingming], [xingbie], [shouji], [youxiang], [shenfenzheng], [touxiang]) VALUES (2, N'002', N'002', N'贾斯丁', N'女', N'13500134000', N'ww@ww.com', N'440303199102283071', N'upload/202405/171454481585330382.png')
INSERT [dbo].[yonghu] ([id], [yonghuming], [mima], [xingming], [xingbie], [shouji], [youxiang], [shenfenzheng], [touxiang]) VALUES (3, N'003', N'003', N'布鲁斯', N'男', N'13500134000', N'ww@ww.com', N'440303199102283071', N'upload/202405/171454528975878870.png')
SET IDENTITY_INSERT [dbo].[yonghu] OFF
/****** Object:  Table [dbo].[shoucang]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shoucang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](64) NOT NULL,
	[xwid] [int] NOT NULL,
	[biao] [nvarchar](50) NOT NULL,
	[biaoti] [nvarchar](255) NOT NULL,
	[addtime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[shoucang] ON
INSERT [dbo].[shoucang] ([id], [username], [xwid], [biao], [biaoti], [addtime]) VALUES (1, N'003', 2, N'shangpin', N'臣倍健 维生素C橙子味240片', CAST(0x0000B163006D45D4 AS DateTime))
SET IDENTITY_INSERT [dbo].[shoucang] OFF
/****** Object:  Table [dbo].[shangpin]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shangpin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bianhao] [nvarchar](50) NOT NULL,
	[mingcheng] [nvarchar](255) NOT NULL,
	[fenlei] [int] NOT NULL,
	[jiage] [decimal](10, 2) NOT NULL,
	[kucun] [int] NOT NULL,
	[shifouxinpin] [nvarchar](50) NOT NULL,
	[xiaoliang] [int] NOT NULL,
	[tupian] [ntext] NOT NULL,
	[xiangqing] [ntext] NOT NULL,
	[addtime] [datetime] NOT NULL,
	[issh] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [shangpin_fenlei_index] ON [dbo].[shangpin] 
(
	[fenlei] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[shangpin] ON
INSERT [dbo].[shangpin] ([id], [bianhao], [mingcheng], [fenlei], [jiage], [kucun], [shifouxinpin], [xiaoliang], [tupian], [xiangqing], [addtime], [issh]) VALUES (1, N'05010602326372', N'HYUNDAI筋膜枪按摩器颈膜枪按摩棒全身', 4, CAST(79.00 AS Decimal(10, 2)), 500, N'否', 0, N'upload/202405/171454337484347663.png,upload/202405/171454337881741267.png', N'<p><img src="upload/202405/1714543386045.9320483.png"/></p>', CAST(0x0000B1630063BA78 AS DateTime), N'是')
INSERT [dbo].[shangpin] ([id], [bianhao], [mingcheng], [fenlei], [jiage], [kucun], [shifouxinpin], [xiaoliang], [tupian], [xiangqing], [addtime], [issh]) VALUES (2, N'05010603064278', N'臣倍健 维生素C橙子味240片', 2, CAST(125.50 AS Decimal(10, 2)), 500, N'否', 0, N'upload/202405/171454341109432006.png,upload/202405/171454341535362614.png', N'<p><img src="upload/202405/1714543422626.9846027.png"/></p>', CAST(0x0000B1630063E5D4 AS DateTime), N'是')
INSERT [dbo].[shangpin] ([id], [bianhao], [mingcheng], [fenlei], [jiage], [kucun], [shifouxinpin], [xiaoliang], [tupian], [xiangqing], [addtime], [issh]) VALUES (3, N'05010603484317', N'福凤容颜 阿胶块250g山东东阿特', 2, CAST(78.00 AS Decimal(10, 2)), 500, N'是', 0, N'upload/202405/171454345266043313.png,upload/202405/171454345664673140.png,upload/202405/171454346774782770.png', N'<p><img src="upload/202405/1714543469145.0910445.png"/></p>', CAST(0x0000B16300641BBC AS DateTime), N'是')
SET IDENTITY_INSERT [dbo].[shangpin] OFF
/****** Object:  Table [dbo].[qianshou]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qianshou](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dingdanid] [int] NOT NULL,
	[dingdanhao] [nvarchar](50) NOT NULL,
	[shouhuoren] [nvarchar](50) NOT NULL,
	[lianxidianhua] [nvarchar](50) NOT NULL,
	[dizhi] [nvarchar](255) NOT NULL,
	[qianshoushijian] [nvarchar](25) NOT NULL,
	[qianshouren] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [qianshou_dingdanid_index] ON [dbo].[qianshou] 
(
	[dingdanid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[qianshou] ON
INSERT [dbo].[qianshou] ([id], [dingdanid], [dingdanhao], [shouhuoren], [lianxidianhua], [dizhi], [qianshoushijian], [qianshouren]) VALUES (1, 3, N'05010640581485', N'李生', N'13350013400', N'xxx', N'2024-05-01 06:41:39', N'003')
SET IDENTITY_INSERT [dbo].[qianshou] OFF
/****** Object:  Table [dbo].[pinglunhuifu]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pinglunhuifu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pinglunid] [int] NOT NULL,
	[biao] [nvarchar](50) NOT NULL,
	[biaoid] [int] NOT NULL,
	[biaoti] [nvarchar](255) NOT NULL,
	[pinglunneirong] [ntext] NOT NULL,
	[pinglunren] [nvarchar](64) NOT NULL,
	[huifuneirong] [ntext] NOT NULL,
	[huifuren] [nvarchar](64) NOT NULL,
	[addtime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [pinglunhuifu_pinglunid_index] ON [dbo].[pinglunhuifu] 
(
	[pinglunid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pinglunhuifu] ON
INSERT [dbo].[pinglunhuifu] ([id], [pinglunid], [biao], [biaoid], [biaoti], [pinglunneirong], [pinglunren], [huifuneirong], [huifuren], [addtime]) VALUES (1, 1, N'shangpin', 1, N'HYUNDAI筋膜枪按摩器颈膜枪按摩棒全身', N'好用！！', N'001', N'xxx', N'001', CAST(0x0000B163006A011C AS DateTime))
SET IDENTITY_INSERT [dbo].[pinglunhuifu] OFF
/****** Object:  Table [dbo].[pinglun]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pinglun](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[biao] [nvarchar](50) NOT NULL,
	[biaoid] [int] NOT NULL,
	[biaoti] [nvarchar](255) NOT NULL,
	[pingfen] [nvarchar](255) NOT NULL,
	[pinglunneirong] [ntext] NOT NULL,
	[pinglunren] [nvarchar](64) NOT NULL,
	[addtime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pinglun] ON
INSERT [dbo].[pinglun] ([id], [biao], [biaoid], [biaoti], [pingfen], [pinglunneirong], [pinglunren], [addtime]) VALUES (1, N'shangpin', 1, N'HYUNDAI筋膜枪按摩器颈膜枪按摩棒全身', N'5', N'好用！！', N'001', CAST(0x0000B1630069CA08 AS DateTime))
SET IDENTITY_INSERT [dbo].[pinglun] OFF
/****** Object:  Table [dbo].[lunbotu]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lunbotu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[url] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[lunbotu] ON
INSERT [dbo].[lunbotu] ([id], [title], [image], [url]) VALUES (1, N'3452345', N'upload/202405/171454382472055834.png', N'#')
INSERT [dbo].[lunbotu] ([id], [title], [image], [url]) VALUES (2, N'462345', N'upload/202405/171454383731045220.png', N'#')
INSERT [dbo].[lunbotu] ([id], [title], [image], [url]) VALUES (3, N'45234', N'upload/202405/171454384628112453.png', N'#')
SET IDENTITY_INSERT [dbo].[lunbotu] OFF
/****** Object:  Table [dbo].[liuyanban]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liuyanban](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[xingming] [nvarchar](50) NOT NULL,
	[lianxidianhua] [nvarchar](50) NOT NULL,
	[liuyanneirong] [ntext] NOT NULL,
	[zhuangtai] [nvarchar](50) NOT NULL,
	[liuyanren] [nvarchar](64) NOT NULL,
	[huifuneirong] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[liuyanban] ON
INSERT [dbo].[liuyanban] ([id], [xingming], [lianxidianhua], [liuyanneirong], [zhuangtai], [liuyanren], [huifuneirong]) VALUES (1, N'布鲁斯', N'13500134000', N'003反馈 下！！！', N'已回复', N'003', N'收到003')
SET IDENTITY_INSERT [dbo].[liuyanban] OFF
/****** Object:  Table [dbo].[leixing]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leixing](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[leixingming] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[leixing] ON
INSERT [dbo].[leixing] ([id], [leixingming]) VALUES (1, N'跑步')
INSERT [dbo].[leixing] ([id], [leixingming]) VALUES (2, N'散步')
INSERT [dbo].[leixing] ([id], [leixingming]) VALUES (3, N'瑜伽')
SET IDENTITY_INSERT [dbo].[leixing] OFF
/****** Object:  Table [dbo].[jiankang]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jiankang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[riqi] [nvarchar](25) NOT NULL,
	[yinshixinxi] [nvarchar](255) NOT NULL,
	[yinshireliangzhi] [decimal](10, 2) NOT NULL,
	[nianling] [int] NOT NULL,
	[shengao] [decimal](10, 2) NOT NULL,
	[tizhong] [decimal](10, 2) NOT NULL,
	[xinlv] [int] NOT NULL,
	[bmi] [decimal](10, 2) NOT NULL,
	[yundongleixing] [int] NOT NULL,
	[yundongshizhang] [decimal](10, 2) NOT NULL,
	[yundongreliangzhi] [decimal](10, 2) NOT NULL,
	[jichudaixielv] [decimal](10, 2) NOT NULL,
	[yonghu] [nvarchar](64) NOT NULL,
	[beizhu] [ntext] NOT NULL,
	[addtime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [jiankang_yundongleixing_index] ON [dbo].[jiankang] 
(
	[yundongleixing] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[jiankang] ON
INSERT [dbo].[jiankang] ([id], [riqi], [yinshixinxi], [yinshireliangzhi], [nianling], [shengao], [tizhong], [xinlv], [bmi], [yundongleixing], [yundongshizhang], [yundongreliangzhi], [jichudaixielv], [yonghu], [beizhu], [addtime]) VALUES (1, N'2024-05-01', N'油条豆浆猪脚饭', CAST(820.00 AS Decimal(10, 2)), 24, CAST(169.00 AS Decimal(10, 2)), CAST(48.00 AS Decimal(10, 2)), 46, CAST(16.81 AS Decimal(10, 2)), 1, CAST(60.00 AS Decimal(10, 2)), CAST(450.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), N'001', N'xxx', CAST(0x0000B163004CA25C AS DateTime))
INSERT [dbo].[jiankang] ([id], [riqi], [yinshixinxi], [yinshireliangzhi], [nianling], [shengao], [tizhong], [xinlv], [bmi], [yundongleixing], [yundongshizhang], [yundongreliangzhi], [jichudaixielv], [yonghu], [beizhu], [addtime]) VALUES (2, N'2024-04-29', N'早餐xx中餐xx晚餐xx', CAST(785.00 AS Decimal(10, 2)), 24, CAST(169.00 AS Decimal(10, 2)), CAST(46.00 AS Decimal(10, 2)), 69, CAST(16.11 AS Decimal(10, 2)), 3, CAST(120.00 AS Decimal(10, 2)), CAST(450.00 AS Decimal(10, 2)), CAST(19.00 AS Decimal(10, 2)), N'001', N'xx', CAST(0x0000B16300591A8C AS DateTime))
INSERT [dbo].[jiankang] ([id], [riqi], [yinshixinxi], [yinshireliangzhi], [nianling], [shengao], [tizhong], [xinlv], [bmi], [yundongleixing], [yundongshizhang], [yundongreliangzhi], [jichudaixielv], [yonghu], [beizhu], [addtime]) VALUES (3, N'2024-05-01', N'早餐xx中餐xx晚餐xx', CAST(950.00 AS Decimal(10, 2)), 21, CAST(172.00 AS Decimal(10, 2)), CAST(58.00 AS Decimal(10, 2)), 61, CAST(19.61 AS Decimal(10, 2)), 1, CAST(100.00 AS Decimal(10, 2)), CAST(245.00 AS Decimal(10, 2)), CAST(16.70 AS Decimal(10, 2)), N'002', N'xxx', CAST(0x0000B163006A6E18 AS DateTime))
SET IDENTITY_INSERT [dbo].[jiankang] OFF
/****** Object:  Table [dbo].[gouwuche]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gouwuche](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shangpinid] [int] NOT NULL,
	[tupian] [ntext] NOT NULL,
	[bianhao] [nvarchar](50) NOT NULL,
	[mingcheng] [nvarchar](255) NOT NULL,
	[fenlei] [int] NOT NULL,
	[jiage] [decimal](10, 2) NOT NULL,
	[goumaishu] [int] NOT NULL,
	[xiaoji] [decimal](10, 2) NOT NULL,
	[goumairen] [nvarchar](64) NOT NULL,
	[addtime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [gouwuche_fenlei_index] ON [dbo].[gouwuche] 
(
	[fenlei] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [gouwuche_shangpinid_index] ON [dbo].[gouwuche] 
(
	[shangpinid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fenlei]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fenlei](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fenleiming] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[fenlei] ON
INSERT [dbo].[fenlei] ([id], [fenleiming]) VALUES (1, N'药品')
INSERT [dbo].[fenlei] ([id], [fenleiming]) VALUES (2, N'食品')
INSERT [dbo].[fenlei] ([id], [fenleiming]) VALUES (3, N'电器')
SET IDENTITY_INSERT [dbo].[fenlei] OFF
/****** Object:  Table [dbo].[fahuo]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fahuo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dingdanid] [int] NOT NULL,
	[dingdanhao] [nvarchar](50) NOT NULL,
	[shouhuoren] [nvarchar](50) NOT NULL,
	[lianxidianhua] [nvarchar](50) NOT NULL,
	[dizhi] [nvarchar](255) NOT NULL,
	[xiadanren] [nvarchar](64) NOT NULL,
	[wuliugongsi] [nvarchar](50) NOT NULL,
	[yundanhao] [nvarchar](50) NOT NULL,
	[fahuoren] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [fahuo_dingdanid_index] ON [dbo].[fahuo] 
(
	[dingdanid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[fahuo] ON
INSERT [dbo].[fahuo] ([id], [dingdanid], [dingdanhao], [shouhuoren], [lianxidianhua], [dizhi], [xiadanren], [wuliugongsi], [yundanhao], [fahuoren]) VALUES (1, 2, N'05010608362010', N'李生', N'13350013400', N'xxx', N'001', N'京东物流', N'JDGD1G132123', N'admin')
INSERT [dbo].[fahuo] ([id], [dingdanid], [dingdanhao], [shouhuoren], [lianxidianhua], [dizhi], [xiadanren], [wuliugongsi], [yundanhao], [fahuoren]) VALUES (2, 3, N'05010640581485', N'李生', N'13350013400', N'xxx', N'003', N'京东物流', N'JDGD1G132123GDF', N'admin')
SET IDENTITY_INSERT [dbo].[fahuo] OFF
/****** Object:  Table [dbo].[dingdanshangpin]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dingdanshangpin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dingdanid] [int] NOT NULL,
	[shangpinid] [int] NOT NULL,
	[bianhao] [nvarchar](50) NOT NULL,
	[mingcheng] [nvarchar](255) NOT NULL,
	[fenlei] [int] NOT NULL,
	[jiage] [decimal](10, 2) NOT NULL,
	[goumaishu] [int] NOT NULL,
	[xiaoji] [decimal](10, 2) NOT NULL,
	[goumairen] [nvarchar](64) NOT NULL,
	[addtime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [dingdanshangpin_dingdanid_index] ON [dbo].[dingdanshangpin] 
(
	[dingdanid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [dingdanshangpin_fenlei_index] ON [dbo].[dingdanshangpin] 
(
	[fenlei] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [dingdanshangpin_shangpinid_index] ON [dbo].[dingdanshangpin] 
(
	[shangpinid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dingdanshangpin] ON
INSERT [dbo].[dingdanshangpin] ([id], [dingdanid], [shangpinid], [bianhao], [mingcheng], [fenlei], [jiage], [goumaishu], [xiaoji], [goumairen], [addtime]) VALUES (1, 2, 3, N'05010603484317', N'福凤容颜 阿胶块250g山东东阿特', 2, CAST(78.00 AS Decimal(10, 2)), 2, CAST(156.00 AS Decimal(10, 2)), N'001', CAST(0x0000B16300653628 AS DateTime))
INSERT [dbo].[dingdanshangpin] ([id], [dingdanid], [shangpinid], [bianhao], [mingcheng], [fenlei], [jiage], [goumaishu], [xiaoji], [goumairen], [addtime]) VALUES (2, 3, 4, N'05010638570062', N'新疆沙棘纯蜂蜜100无添加独立', 2, CAST(12.50 AS Decimal(10, 2)), 2, CAST(25.00 AS Decimal(10, 2)), N'003', CAST(0x0000B163006E1090 AS DateTime))
INSERT [dbo].[dingdanshangpin] ([id], [dingdanid], [shangpinid], [bianhao], [mingcheng], [fenlei], [jiage], [goumaishu], [xiaoji], [goumairen], [addtime]) VALUES (3, 3, 3, N'05010603484317', N'福凤容颜 阿胶块250g山东东阿特', 2, CAST(78.00 AS Decimal(10, 2)), 1, CAST(78.00 AS Decimal(10, 2)), N'003', CAST(0x0000B163006E18C4 AS DateTime))
SET IDENTITY_INSERT [dbo].[dingdanshangpin] OFF
/****** Object:  Table [dbo].[dingdan]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dingdan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dingdanhao] [nvarchar](50) NOT NULL,
	[zonge] [decimal](10, 2) NOT NULL,
	[shouhuoren] [nvarchar](50) NOT NULL,
	[lianxidianhua] [nvarchar](50) NOT NULL,
	[dizhi] [nvarchar](255) NOT NULL,
	[zhuangtai] [nvarchar](50) NOT NULL,
	[xiadanren] [nvarchar](64) NOT NULL,
	[iszf] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dingdan] ON
INSERT [dbo].[dingdan] ([id], [dingdanhao], [zonge], [shouhuoren], [lianxidianhua], [dizhi], [zhuangtai], [xiadanren], [iszf]) VALUES (2, N'05010608362010', CAST(156.00 AS Decimal(10, 2)), N'李生', N'13350013400', N'xxx', N'待签收', N'001', N'是')
INSERT [dbo].[dingdan] ([id], [dingdanhao], [zonge], [shouhuoren], [lianxidianhua], [dizhi], [zhuangtai], [xiadanren], [iszf]) VALUES (3, N'05010640581485', CAST(103.00 AS Decimal(10, 2)), N'李生', N'13350013400', N'xxx', N'已签收', N'003', N'是')
SET IDENTITY_INSERT [dbo].[dingdan] OFF
/****** Object:  Table [dbo].[admins]    Script Date: 05/12/2024 20:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[pwd] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admins] ON
INSERT [dbo].[admins] ([id], [username], [pwd]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[admins] OFF
/****** Object:  Default [DF__zixunxinx__biaot__15502E78]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[zixunxinxi] ADD  DEFAULT ('') FOR [biaoti]
GO
/****** Object:  Default [DF__zixunxinx__tianj__164452B1]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[zixunxinxi] ADD  DEFAULT ('') FOR [tianjiaren]
GO
/****** Object:  Default [DF__zixunxinx__dianj__173876EA]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[zixunxinxi] ADD  DEFAULT ('0') FOR [dianjilv]
GO
/****** Object:  Default [DF__zixunfenl__fenle__108B795B]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[zixunfenlei] ADD  DEFAULT ('') FOR [fenleimingcheng]
GO
/****** Object:  Default [DF__youqingli__wangz__1BFD2C07]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[youqinglianjie] ADD  DEFAULT ('') FOR [wangzhanmingcheng]
GO
/****** Object:  Default [DF__youqingli__wangz__1CF15040]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[youqinglianjie] ADD  DEFAULT ('') FOR [wangzhi]
GO
/****** Object:  Default [DF__yonghu__yonghumi__07020F21]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[yonghu] ADD  DEFAULT ('') FOR [yonghuming]
GO
/****** Object:  Default [DF__yonghu__mima__07F6335A]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[yonghu] ADD  DEFAULT ('') FOR [mima]
GO
/****** Object:  Default [DF__yonghu__xingming__08EA5793]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[yonghu] ADD  DEFAULT ('') FOR [xingming]
GO
/****** Object:  Default [DF__yonghu__shouji__09DE7BCC]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[yonghu] ADD  DEFAULT ('') FOR [shouji]
GO
/****** Object:  Default [DF__yonghu__youxiang__0AD2A005]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[yonghu] ADD  DEFAULT ('') FOR [youxiang]
GO
/****** Object:  Default [DF__yonghu__shenfenz__0BC6C43E]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[yonghu] ADD  DEFAULT ('') FOR [shenfenzheng]
GO
/****** Object:  Default [DF__shoucang__userna__2F10007B]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shoucang] ADD  DEFAULT ('') FOR [username]
GO
/****** Object:  Default [DF__shoucang__xwid__300424B4]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shoucang] ADD  DEFAULT ('0') FOR [xwid]
GO
/****** Object:  Default [DF__shoucang__biao__30F848ED]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shoucang] ADD  DEFAULT ('') FOR [biao]
GO
/****** Object:  Default [DF__shoucang__biaoti__31EC6D26]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shoucang] ADD  DEFAULT ('') FOR [biaoti]
GO
/****** Object:  Default [DF__shoucang__addtim__32E0915F]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shoucang] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__shangpin__bianha__37A5467C]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shangpin] ADD  DEFAULT ('') FOR [bianhao]
GO
/****** Object:  Default [DF__shangpin__mingch__38996AB5]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shangpin] ADD  DEFAULT ('') FOR [mingcheng]
GO
/****** Object:  Default [DF__shangpin__jiage__398D8EEE]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shangpin] ADD  DEFAULT ('0') FOR [jiage]
GO
/****** Object:  Default [DF__shangpin__kucun__3A81B327]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shangpin] ADD  DEFAULT ('0') FOR [kucun]
GO
/****** Object:  Default [DF__shangpin__xiaoli__3B75D760]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shangpin] ADD  DEFAULT ('0') FOR [xiaoliang]
GO
/****** Object:  Default [DF__shangpin__addtim__3C69FB99]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shangpin] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__shangpin__issh__3D5E1FD2]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[shangpin] ADD  DEFAULT ('否') FOR [issh]
GO
/****** Object:  Default [DF__qianshou__dingda__6383C8BA]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[qianshou] ADD  DEFAULT ('') FOR [dingdanhao]
GO
/****** Object:  Default [DF__qianshou__shouhu__6477ECF3]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[qianshou] ADD  DEFAULT ('') FOR [shouhuoren]
GO
/****** Object:  Default [DF__qianshou__lianxi__656C112C]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[qianshou] ADD  DEFAULT ('') FOR [lianxidianhua]
GO
/****** Object:  Default [DF__qianshou__dizhi__66603565]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[qianshou] ADD  DEFAULT ('') FOR [dizhi]
GO
/****** Object:  Default [DF__qianshou__qiansh__6754599E]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[qianshou] ADD  DEFAULT ('') FOR [qianshouren]
GO
/****** Object:  Default [DF__pinglunhui__biao__14270015]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglunhuifu] ADD  DEFAULT ('') FOR [biao]
GO
/****** Object:  Default [DF__pinglunhu__biaoi__151B244E]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglunhuifu] ADD  DEFAULT ('0') FOR [biaoid]
GO
/****** Object:  Default [DF__pinglunhu__biaot__160F4887]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglunhuifu] ADD  DEFAULT ('') FOR [biaoti]
GO
/****** Object:  Default [DF__pinglunhu__pingl__17036CC0]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglunhuifu] ADD  DEFAULT ('') FOR [pinglunren]
GO
/****** Object:  Default [DF__pinglunhu__huifu__17F790F9]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglunhuifu] ADD  DEFAULT ('') FOR [huifuren]
GO
/****** Object:  Default [DF__pinglunhu__addti__18EBB532]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglunhuifu] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__pinglun__biao__0A9D95DB]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglun] ADD  DEFAULT ('') FOR [biao]
GO
/****** Object:  Default [DF__pinglun__biaoid__0B91BA14]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglun] ADD  DEFAULT ('0') FOR [biaoid]
GO
/****** Object:  Default [DF__pinglun__biaoti__0C85DE4D]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglun] ADD  DEFAULT ('') FOR [biaoti]
GO
/****** Object:  Default [DF__pinglun__pingfen__0D7A0286]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglun] ADD  DEFAULT ('') FOR [pingfen]
GO
/****** Object:  Default [DF__pinglun__pinglun__0E6E26BF]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglun] ADD  DEFAULT ('') FOR [pinglunren]
GO
/****** Object:  Default [DF__pinglun__addtime__0F624AF8]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[pinglun] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__lunbotu__title__29572725]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[lunbotu] ADD  DEFAULT ('') FOR [title]
GO
/****** Object:  Default [DF__lunbotu__url__2A4B4B5E]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[lunbotu] ADD  DEFAULT ('') FOR [url]
GO
/****** Object:  Default [DF__liuyanban__xingm__21B6055D]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[liuyanban] ADD  DEFAULT ('') FOR [xingming]
GO
/****** Object:  Default [DF__liuyanban__lianx__22AA2996]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[liuyanban] ADD  DEFAULT ('') FOR [lianxidianhua]
GO
/****** Object:  Default [DF__liuyanban__zhuan__239E4DCF]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[liuyanban] ADD  DEFAULT ('') FOR [zhuangtai]
GO
/****** Object:  Default [DF__liuyanban__liuya__24927208]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[liuyanban] ADD  DEFAULT ('') FOR [liuyanren]
GO
/****** Object:  Default [DF__leixing__leixing__1DB06A4F]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[leixing] ADD  DEFAULT ('') FOR [leixingming]
GO
/****** Object:  Default [DF__jiankang__yinshi__70DDC3D8]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('') FOR [yinshixinxi]
GO
/****** Object:  Default [DF__jiankang__yinshi__71D1E811]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [yinshireliangzhi]
GO
/****** Object:  Default [DF__jiankang__nianli__72C60C4A]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [nianling]
GO
/****** Object:  Default [DF__jiankang__shenga__73BA3083]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [shengao]
GO
/****** Object:  Default [DF__jiankang__tizhon__74AE54BC]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [tizhong]
GO
/****** Object:  Default [DF__jiankang__xinlv__75A278F5]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [xinlv]
GO
/****** Object:  Default [DF__jiankang__bmi__76969D2E]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [bmi]
GO
/****** Object:  Default [DF__jiankang__yundon__778AC167]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [yundongshizhang]
GO
/****** Object:  Default [DF__jiankang__yundon__787EE5A0]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [yundongreliangzhi]
GO
/****** Object:  Default [DF__jiankang__jichud__797309D9]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('0') FOR [jichudaixielv]
GO
/****** Object:  Default [DF__jiankang__yonghu__7A672E12]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT ('') FOR [yonghu]
GO
/****** Object:  Default [DF__jiankang__addtim__7B5B524B]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[jiankang] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__gouwuche__bianha__4222D4EF]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[gouwuche] ADD  DEFAULT ('') FOR [bianhao]
GO
/****** Object:  Default [DF__gouwuche__mingch__4316F928]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[gouwuche] ADD  DEFAULT ('') FOR [mingcheng]
GO
/****** Object:  Default [DF__gouwuche__jiage__440B1D61]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[gouwuche] ADD  DEFAULT ('0') FOR [jiage]
GO
/****** Object:  Default [DF__gouwuche__goumai__44FF419A]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[gouwuche] ADD  DEFAULT ('0') FOR [goumaishu]
GO
/****** Object:  Default [DF__gouwuche__xiaoji__45F365D3]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[gouwuche] ADD  DEFAULT ('0') FOR [xiaoji]
GO
/****** Object:  Default [DF__gouwuche__goumai__46E78A0C]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[gouwuche] ADD  DEFAULT ('') FOR [goumairen]
GO
/****** Object:  Default [DF__gouwuche__addtim__47DBAE45]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[gouwuche] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__fenlei__fenleimi__6C190EBB]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fenlei] ADD  DEFAULT ('') FOR [fenleiming]
GO
/****** Object:  Default [DF__fahuo__dingdanha__5812160E]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fahuo] ADD  DEFAULT ('') FOR [dingdanhao]
GO
/****** Object:  Default [DF__fahuo__shouhuore__59063A47]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fahuo] ADD  DEFAULT ('') FOR [shouhuoren]
GO
/****** Object:  Default [DF__fahuo__lianxidia__59FA5E80]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fahuo] ADD  DEFAULT ('') FOR [lianxidianhua]
GO
/****** Object:  Default [DF__fahuo__dizhi__5AEE82B9]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fahuo] ADD  DEFAULT ('') FOR [dizhi]
GO
/****** Object:  Default [DF__fahuo__xiadanren__5BE2A6F2]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fahuo] ADD  DEFAULT ('') FOR [xiadanren]
GO
/****** Object:  Default [DF__fahuo__wuliugong__5CD6CB2B]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fahuo] ADD  DEFAULT ('') FOR [wuliugongsi]
GO
/****** Object:  Default [DF__fahuo__yundanhao__5DCAEF64]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fahuo] ADD  DEFAULT ('') FOR [yundanhao]
GO
/****** Object:  Default [DF__fahuo__fahuoren__5EBF139D]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[fahuo] ADD  DEFAULT ('') FOR [fahuoren]
GO
/****** Object:  Default [DF__dingdansh__bianh__00200768]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdanshangpin] ADD  DEFAULT ('') FOR [bianhao]
GO
/****** Object:  Default [DF__dingdansh__mingc__01142BA1]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdanshangpin] ADD  DEFAULT ('') FOR [mingcheng]
GO
/****** Object:  Default [DF__dingdansh__jiage__02084FDA]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdanshangpin] ADD  DEFAULT ('0') FOR [jiage]
GO
/****** Object:  Default [DF__dingdansh__gouma__02FC7413]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdanshangpin] ADD  DEFAULT ('0') FOR [goumaishu]
GO
/****** Object:  Default [DF__dingdansh__xiaoj__03F0984C]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdanshangpin] ADD  DEFAULT ('0') FOR [xiaoji]
GO
/****** Object:  Default [DF__dingdansh__gouma__04E4BC85]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdanshangpin] ADD  DEFAULT ('') FOR [goumairen]
GO
/****** Object:  Default [DF__dingdansh__addti__05D8E0BE]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdanshangpin] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__dingdan__dingdan__4CA06362]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdan] ADD  DEFAULT ('') FOR [dingdanhao]
GO
/****** Object:  Default [DF__dingdan__zonge__4D94879B]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdan] ADD  DEFAULT ('0') FOR [zonge]
GO
/****** Object:  Default [DF__dingdan__shouhuo__4E88ABD4]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdan] ADD  DEFAULT ('') FOR [shouhuoren]
GO
/****** Object:  Default [DF__dingdan__lianxid__4F7CD00D]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdan] ADD  DEFAULT ('') FOR [lianxidianhua]
GO
/****** Object:  Default [DF__dingdan__dizhi__5070F446]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdan] ADD  DEFAULT ('') FOR [dizhi]
GO
/****** Object:  Default [DF__dingdan__zhuangt__5165187F]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdan] ADD  DEFAULT ('') FOR [zhuangtai]
GO
/****** Object:  Default [DF__dingdan__xiadanr__52593CB8]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdan] ADD  DEFAULT ('') FOR [xiadanren]
GO
/****** Object:  Default [DF__dingdan__iszf__534D60F1]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[dingdan] ADD  DEFAULT ('否') FOR [iszf]
GO
/****** Object:  Default [DF__admins__username__014935CB]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[admins] ADD  DEFAULT ('') FOR [username]
GO
/****** Object:  Default [DF__admins__pwd__023D5A04]    Script Date: 05/12/2024 20:24:37 ******/
ALTER TABLE [dbo].[admins] ADD  DEFAULT ('') FOR [pwd]
GO
